{{ 'marquee-logo.css' | asset_url | stylesheet_tag }}

<style>
  .slide-track {
  display: flex;
  width: calc(250px * {{ section.blocks.size | times: 2 }}); /* double the logos */
  animation: scroll 40s linear infinite;
}

.section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.50 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.50 | round: 0 }}px;
  }
   @media screen and (min-width: 576px) and (max-width: 749px){
   .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }
   }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

    
</style>

<div class="slider {% if section.settings.page_full_width %} page-full-width {% else %} page-width {% endif %} {% if section.settings.page_full_width_spacing %} page-full-width_spacing {% endif %} section-{{ section.id }}-padding">
  <div class="slide-track">
  {% for i in (1..2) %}
    {% for block in section.blocks %}
      {% if block.settings.slide_image != blank %}
        <div class="slide">
          <img src="{{ block.settings.slide_image | image_url: width: 500 }}" height="100%" width="100%" alt="Slide image {{ forloop.index }}" />
        </div>
      {% endif %}
    {% endfor %}
  {% endfor %}
</div>
</div>

{% schema %}
{
  "name": "Marquee Logo",
  "max_blocks": 20,
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 120,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
          "type": "text",
          "id": "custom_class",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.custom_class.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.custom_class.info"
   }
  ],
  "blocks": [
    {
      "type": "image_slide",
      "name": "t:sections.marqueelogo.blocks.logo.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "slide_image",
          "label": "t:sections.marqueelogo.blocks.logo.settings.image.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.marqueelogo.presets.name",
      "category": "Media",
      "blocks": [
        {
          "type": "image_slide"
        },
        {
          "type": "image_slide"
        },
        {
          "type": "image_slide"
        }
      ]
    }
  ]
}
{% endschema %}


